Package: com.vcam.plus
Name: 岐盛ios付费相机
Version: 1.3.88
Architecture: iphoneos-arm64e
Description: 岐盛ios付费相机
Maintainer: vcam
Author: vcam
Section: Tweaks
Depends: mobilesubstrate, ellekit
Pre-Depends: rootless-compat(>= 0.9)
